.DS_Store
.DS_Store
on_server/.DS_Store
model/nnn.txt
model/nnn.py
model/result.txt
on_server/.DS_Store
model/a.txt
model/b.txt
model/data.txt.zip
model/data_upd.csv
model/data_update.py
model/excited_merger.py
model/merge_operation.py
model/OI_school.csv
model/output.txt
model/raw_data_maker.py
model/result.csv.zip
model/rrr.py
model/rrr.txt
model/school_analyzer.py
model/school_data.csv.zip
model/school_opedo.txt
model/test.csv
on_server/backup/index.html
on_server/backup/search.php
on_server/logo-part.jpg.sb-465a73f1-tIrP4k
on_server/logo-part.png
on_server/raw.html
